{% extends "base.html" %}
{% load static i18n %}
{% block title %}Legislator List{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{% endblock css %}

{% block content %}
<div class="container">

  <h2>Legislators</h2>

  <table id="legislator-list"class="table">
    <thead>
      <th> Name </th>
      <th> District </th>
      <th> Party </th>
      <th> Chamber </th>
    </thead>
    {% for person in legislators %}
      <tr>
        <td> <a href="{% url "legislators:legislator-detail" person.id %}">{{ person }}</a> </td>
        <td> {{ person.district }} </td>
        <td> {{ person.party }} </td>
        <td> {{ person.chamber }} </td>
      </tr>
    {% endfor %}
  </table>

</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $('#legislator-list').dataTable({});
    });
  </script>
{% endblock javascript %}
