{% extends "base.html" %}
{% load static i18n %}
{% block title %}Legislator{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{% endblock css %}

{% block content %}
  <div class="container">

    <h2>Legislator Detail</h2>

    <img src="{{ legislator.photo_url }}"/>

    <dl class="row">
      <dt class="col-2"> Name </dt>
      <dd class="col-10"> {{ legislator }} </dd>
      <dt class="col-2"> Open States ID </dt>
      <dd class="col-10"> {{ legislator.openstates_leg_id }} </dd>
      <dt class="col-2"> District </dt>
      <dd class="col-10"> {{ legislator.district }} </dd>
      <dt class="col-2"> Party </dt>
      <dd class="col-10"> {{ legislator.party }} </dd>
      <dt class="col-2"> Chamber </dt>
      <dd class="col-10"> {{ legislator.chamber }} </dd>

      <dt class="col-2"> Vote count </dt>
      <dd class="col-10">
        <table id="vote-list" class="table table-sm">
          <thead>
            <th>Date</th>
            <th>Bill</th>
            <th>Vote</th>
            <th>Subjects</th>
          </thead>
          {% for vote in votes %}
            <tr>
              <td class="text-nowrap">{{ vote.date|date:'Y-m-d' }}</td>
              <td class="text-nowrap">
                <a href="{% url 'openstates:bill-detail' vote.bill.session vote.bill.bill_id %}">{{ vote.bill.bill_id }}</a>
              </td>
              <td>{{ vote.value }}</td>
              <td>{{ vote.subjects|join:', ' }}</td>
            </tr>
          {% endfor %}
        </table>
      </dd>

    </dl>

  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function () {
      $('#vote-list').dataTable({});
    });
  </script>
{% endblock javascript %}
