// Variables-------------------------------------------------------------------------------------//

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// Core elements---------------------------------------------------------------------------------//

h1, h2, h3, h4, h5 {
  margin-top: 1em;
}

//Alerts-----------------------------------------------------------------------------------------//

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// Navbar----------------------------------------------------------------------------------------//

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

// Django Toolbar--------------------------------------------------------------------------------//

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

// Custom headers--------------------------------------------------------------------------------//

.summary-info h4 {
  margin-top: 0px;
  color: gray;
  font-weight: lighter;
}

// Custom list items-----------------------------------------------------------------------------//

.list-group-item {
  border: none;
}

.list-group-item :first-child {
  margin-right: 0;
}

.list-group-item img {
  max-width: 100%;
  max-height: 100%;
}


.list-group-item h5 {
  margin-top: .5rem;
  font-size: 1rem;
}

.list-group-item p {
  margin-bottom: .5rem;
  font-size: .8rem;
}


@media (min-width: 576px) {
  .list-group-item h5 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }

  .list-group-item p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
