{% extends "base.html" %}

{% block content %}
  <h2>influencetx</h2>

  <p>
    An <a href="http://atxhackforchange.org/" target="_blank" rel="noopener noreferrer">
      ATX Hack for Change
    </a> and <a href="https://www.open-austin.org/" target="_blank" rel="noopener noreferrer">
      Open Austin
    </a> project for accessing Texas campaign finance and voting
  </p>

  <p>
    Voting drives are nice, but getting uninformed people to cast ballots is not helping anyone.
    Voters need a <em>quick</em>, <em>user-friendly</em> way to tell who a politician really is.
  </p>
  <p>
    Who has the time to search for hours and hours through newspapers and online articles in the
    (possibly vain) hope of finding unbiased information on each and every candidate?
  </p>
  <p>
    Voters need to know:
    <ol>
      <li>Who is paying the politician off (campaign finance records).</li>
      <li>How the politician voted (voting records).</li>
    </ol>
  </p>
  <p>
    By putting these two pieces of information together in a succinct mobile platform, we can turn
    uninformed voters into informed voters.
  </p>
{% endblock content %}
