{% extends "base.html" %}
{% load static i18n %}
{% block title %}Bill Detail{% endblock %}

{% block content %}
<div class="container">

  <h2>Bill Details</h2>

  <dl class="row">
    <dt class="col-sm-2 text-muted"> Bill </dt>
    <dd class="offset-1 offset-sm-0 col-sm-10"> {{ bill.bill_id }} </dd>
    <dt class="col-sm-2 text-muted"> Title </dt>
    <dd class="offset-1 offset-sm-0 col-sm-10"> {{ bill.title }} </dd>
    <dt class="col-sm-2 text-muted"> Session </dt>
    <dd class="offset-1 offset-sm-0 col-sm-10"> {{ bill.session }} </dd>
    <dt class="col-sm-2 text-muted"> Chamber </dt>
    <dd class="offset-1 offset-sm-0 col-sm-10"> {{ bill.chamber }} </dd>
    <dt class="col-sm-2 text-muted"> Subjects </dt>
    <dd class="offset-1 offset-sm-0 col-sm-10"> {{ bill.subjects|join:', ' }} </dd>
    <dt class="section-title col-12 bg-intx-secondary"> Action dates </dt>
    <dd class="col-12">
      <table class="table table-sm">
        <thead>
          <th>Action</th>
          <th>Date</th>
        </thead>
        {% for action, date in bill.action_dates.items %}
          <tr>
            <td>{{ action }}</td>
            <td>{{ date.split|first }}</td>
          </tr>
        {% endfor %}
      </table>
    </dd>
    <dt class="section-title col-12 bg-intx-secondary"> Vote count </dt>
    <dd class="col-12">
      <table class="table table-sm">
        <thead>
          <th>Date</th>
          <th>Yes</th>
          <th>No</th>
          <th>Chamber</th>
        </thead>
        {% for vote in bill.votes %}
          <tr>
            <td>{{ vote.date.split|first }}</td>
            <td>{{ vote.yes_count }}</td>
            <td>{{ vote.no_count }}</td>
            <td>{{ vote.chamber }}</td>
          </tr>
        {% endfor %}
      </table>
    </dd>
  </dl>

  <p class="small text-muted text-center">
    Data taken from
    <a href="https://openstates.org/" target="_blank" rel="noopener noreferrer">Open:States</a>
  </p>

</div>
{% endblock content %}
