{% extends "base.html" %}
{% load static %}

{% block title %}Find My Reps{% endblock %}

{% block css %}
  {{ block.super }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock css %}

{% block content %}
<h2>Find Reps</h2>
<div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Enter your address to find who represents you" id="address" name="address">
    <span class="input-group-append">
      <button class="btn btn-info" type="submit" id="address-search"><span>Search</span></button>
    </span>
</div>
<p class='text-center small'>
    Powered by <a target='_blank' href='https://developers.google.com/civic-information/'>Google Civic Information API</a>
</p>
<br><br><br>
<br><br><br>
<br><br><br>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&key={{ GOOGLE_API_KEY }}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <script>
    var API_KEY = "{{ GOOGLE_API_KEY }}";
    var MAPS_API = "https://maps.google.com/maps/api/js?libraries=places";
    var INFO_API = 'https://www.googleapis.com/civicinfo/v2/representatives';

    var address, divisions, data;

    function addressSearch(address) {
        var params = {
            'key': API_KEY,
            'address': address,
            'includeOffices': false
        }
        var roles =[
            // 'headOfState',
            // 'headOfGovernment',
            // 'deputyHeadOfGovernment',
            'legislatorUpperBody',
            'legislatorLowerBody',
            // 'highestCourtJudge',
            // 'judge'
            // 'governmentOfficer',
            // 'schoolBoard',
            // 'specialPurposeOfficer',
        ]
        var roles_mapped = roles.map(function(x){ return 'roles='+x}).join('&');
        var queryString = '?'+$.param(params)+'&'+roles_mapped;
        // console.log(queryString);
        var findreps_url;

        $.getJSON(INFO_API+queryString, function(data, status)
        {
            if (status == 'success') {
                divisions = data['divisions'];
                // Split division data for state to get district numbers.
                var districts = getDistricts(divisions);
                var senate_district = districts['sldu']
                var house_district = districts['sldl']
                if (senate_district === undefined || senate_district === null) {
                     senate_district = 0
                }
                if (house_district === undefined || house_district === null) {
                     house_district = 0
                }
                // console.log(senate_district, house_district);
                findreps_url = location.origin + '/legislators/findreps/' + senate_district + ',' + house_district
                // Do url call to django url with district numbers.
                location.assign(findreps_url)
          }
        })

    }

    $(document).ready(function($) {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'), { types: ['address'] });
        // console.log(autocomplete);
        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            address = place.formatted_address;
            // console.log('You selected: ' + address);
        })

        $('#address-search').click(function() {
            if (address==undefined) {
                address = document.getElementById('address').value
            }
            if (address != '')
                console.log('Address is: ' + address);
                addressSearch(address);
        });
    });

    function getDistricts(divisions) {
        var district_tags = {}
        // console.log(divisions);
        for (var division in divisions) {
            // console.log(division);
            var district_tag = division.split("/");
            if (district_tag[district_tag.length - 2] == 'state:tx') {
                district_tag = district_tag[district_tag.length - 1];
                district_tag = district_tag.split(":");
                district_tags[district_tag[0]] = district_tag[1];
            }
        }
        return district_tags;
    }
  </script>
{% endblock javascript %}
