<footer class="footer">
  <div align="center">
    <ul>
      <li class="flatten">
        <a href="https://github.com/open-austin/influence-texas/releases/tag/0.1.85.2" target="_blank" rel="noopener noreferrer" class="section-title"> v0.1.85.2 </a>
      </li>
      <li class="flatten">
        --<a href="https://influencetexas.com/os-tos" target="_blank" rel="noopener noreferrer"> TOS </a>
      </li>
      <li class="flatten">
        --<a href="https://influencetexas.com" target="_blank" rel="noopener noreferrer"> A Project by Influence Texas P.B.C. </a>
      </li>
    </ul>
  </div>
</footer>
