<footer class="footer bg-intx-primary">
  <div align="center">
    <ul class="flatten">
      <li>
        <a href="https://github.com/open-austin/influence-texas/tree/maintenance" target="_blank">Maint.</a>
      </li>
      <li>
        <a href="https://influencetexas.com/os-tos" target="_blank" rel="noopener noreferrer">TOS</a>
      </li>
      <li>
        <a href="https://influencetexas.com" target="_blank" rel="noopener noreferrer">A Project by Influence Texas P.B.C.</a>
      </li>
    </ul>
  </div>
</footer>
