{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div align="center">
  <table class="table table-sm">
    <tr>
      <td>
        <p><a class="navbar-brand" href="{% url 'legislators:legislator-list' %}">Legislators</a></p>
      </td>
      <td align="right">
        <p><a class="navbar-brand" href="{% url 'donors:donor-list' %}">Donors</a><p>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <div class="container">
          <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Influence Texas Logo">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p><a class="navbar-brand" href="{% url 'bills:bill-list' %}">Bills</a></p>
      </td>
      <td align="right">
        <p><a class="navbar-brand" href="{% url 'findreps' %}">Find Reps</a><p>
      </td>
    </tr>
  </table>
</div>
<div align="center">
    <a href="https://www.facebook.com/share.php?u={{ request.build_absolute_uri }}&quote=Influence%20Texas" target="_blank">
      <span class='symbol'>circlefacebook</span>
    </a>
    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Influence%20Texas" target="_blank">
      <span class='symbol'>circletwitterbird</span>
    </a>
    <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title=Influence%20Texas" target="_blank">
      <span class='symbol'>circlelinkedin</span>
    </a>
</div>
<br><br><br>
{% endblock content %}
