{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<div align="center">
  <a class="navbar-brand" href="{% url 'legislators:legislator-list' %}">Votes</a>
  <img src="{% static 'images/logo.png' %}"  alt="Influence Texas Logo" width="320px">
  <a class="navbar-brand" href="{% url 'donors:donor-list' %}">Money</a>
</div>
<br>
<table class="table">
  <tr>
    <td align="center">
      <a class="navbar-brand" href="{% url 'bills:bill-list' %}">Bills</a>
    </td>
  </tr>
</table>
<div align="center">
    <a href="https://www.facebook.com/share.php?u={{ request.build_absolute_uri }}" target="_blank">
      <span class='symbol'>circlefacebook</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}" target="_blank">
      <span class='symbol'>circletwitterbird</span>
    </a>
    <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}" target="_blank">
      <span class='symbol'>circlelinkedin</span>
    </a>
</div>
<br><br><br>
{% include "pages/footer.html" %}
{% endblock content %}
