{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
<div class="container">
  <h1>Account</h1>

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <a class="btn btn-primary" href="{% url 'account_change_password' %}" role="button">Change Password</a>
    <a class="btn btn-primary" href="{% url 'account_logout' %}" role="button">Logout</a>

    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
