{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}INFLUENCE TEXAS OS{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}

      <!-- Latest compiled and minified Bootstrap-Material-Design 4 Beta 4 CSS -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css" integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <!-- Your stuff: Third-party CSS libraries go here -->

      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link href="{% static 'css/monosocialiconsfont.css' %}" rel="stylesheet">
      <link href="{% static 'css/legislator_share.css' %}" rel="stylesheet">
      <style>
      {% get_static_prefix as STATIC_PREFIX %}
      @font-face {
          font-family: 'Mono Social Icons Font';
          src: url("{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.eot");
          src: url("{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.eot?#iefix") format('embedded-opentype'),
               url("{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.woff") format('woff'),
               url("{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.ttf") format('truetype'),
               url("{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format('svg');
          font-weight: normal;
          font-style: normal;
      }
      </style>

    {% endblock %}

    <!-- Global site tag (gtag.js) Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125051879-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125051879-1');
    </script>
    <!-- Google Analytics -->

  </head>

  <body>

      <nav class="navbar navbar-toggleable-sm navbar-dark bg-intx-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">INFLUENCE TEXAS<sup>os</sup></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'legislators:legislator-list' %}">All Legislators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'legislators:senator-list' %}">Senators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'legislators:representative-list' %}">Representatives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bills:bill-list' %}">Bills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'donors:donor-list' %}">Top Donors</a>
            </li>
            {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'openstates:index' %}">Open:States</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Welcome to the INFLUENCE TEXAS OS project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Latest compiled and minified Bootstrap-Material-Design 4 Beta 4 JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
              integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
              crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js"
              integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe"
              crossorigin="anonymous"></script>
      <script>
        $(document).ready(function() {
          $('body').bootstrapMaterialDesign();
        });
      </script>
      <!-- place project specific Javascript in this file -->

      <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>
