<!DOCTYPE html>
{% load i18n humanize %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}INFLUENCE TEXAS OS{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    {% block css %}
      <!-- Latest compiled and minified Bootstrap -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" media="all">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" media="all">
      <!-- Your stuff: Third-party CSS libraries go here -->

      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet">
      <link href="{% static 'css/monosocialiconsfont.css' %}" rel="stylesheet">
      <link href="{% static 'css/legislator_share.css' %}" rel="stylesheet">

      <style>
      {% get_static_prefix as STATIC_PREFIX %}
      @font-face {
          font-family: 'Mono Social Icons Font';
          src: url('{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.eot');
          src: url('{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
               url('{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
               url('{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
               url('{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
          src: url('{{ STATIC_PREFIX }}fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
      }
      </style>

    {% endblock %}

    <!-- Global site tag (gtag.js) Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125051879-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125051879-1');
    </script>
    <!-- Google Analytics -->

  </head>

  <body>
      <nav class="navbar navbar-expand-sm navbar-dark bg-intx-primary">
        <a class="navbar-brand" href="{% url 'home' %}">INFLUENCE TEXAS<sup>os</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'legislators:legislator-list' %}">All Legislators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'legislators:senator-list' %}">Senators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'legislators:representative-list' %}">Representatives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bills:bill-list' %}">Bills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'donors:donor-list' %}">Top Donors</a>
            </li>
            {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'openstates:index' %}">Open:States</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Welcome to the INFLUENCE TEXAS OS project.</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
      <!-- Latest compiled and minified Bootstrap-Material-Design 4 Beta 4 JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
      </script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
              integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous">
      </script>
      <script>
        $(document).ready(function() {
          $('body').bootstrapMaterialDesign();
        });
      </script>
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>
