{% extends "base.html" %}
{% load static i18n %}
{% block title %}Bill List{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{% endblock css %}

{% block content %}
<h2>Texas Bills</h2>
<div class="summary-info mt-3 mb-4">
  <p class="text-muted">Session: {{ session }}, Total: {{ total_bills }}</p>
</div>
<div class="container">
  <table id="bill-list" class="table table-striped">
    <thead>
      <th> Bill </th>
      <th> Title </th>
      <th class="d-none d-sm-block"> Subjects </th>
    </thead>
    {% for bill in bills %}
      <tr>
        <td class="text-nowrap"> <a href="{% url "bills:bill-detail" bill.id %}">{{ bill.bill_id }} </a> </td>
        <td> {{ bill.title }} </td>
        <td class="d-none d-sm-block"> {{ bill.subjects.all|join:", " }} </td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="col">
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
        </li>
    {% else %}
        <li class="col"><span>Start</span></li>
    {% endif %}
        <li class="col">
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
    {% if page_obj.has_next %}
        <li class="col">
            <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        </li>
    {% else %}
        <li class="col"><span>End</span></li>
    {% endif %}
  </ul>
  {% endif %}
</div>

<br><br><br>
{% include "pages/footer.html" %}
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js"
          integrity="sha256-2VBPy2n7sERBn+tpZos/5j8jVBCE5uzGkceIwP9aAP0="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      var billList = new List('bill-list', {
        valueNames: ['bill_id', 'title', 'subjects'],
      });
    });
  </script>
{% endblock javascript %}
