{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Donor List{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{% endblock css %}

{% block content %}

  <h2>Top Donors</h2>

  <div id="donor-list">
    <input class="search form-control" placeholder="Search by name" />
    <ul class="list-group list list-unstyled">
      {% for donor in donors %}
        <li>
          <table id="donor-list" class="table table-sm">
              <tr>
                <td class="donor-name"><a href="{% url "donors:donor-detail" donor.id %}">{{ donor.full_name }} <div class="text-muted district">({{ donor.city }},{{ donor.state }})</div></a></td>
                <td align="right" class="text-nowrap donor-amount"><a href="{% url "donors:donor-detail" donor.id %}">${{ donor.total_contributions|floatformat:0|intcomma }}</a></td>
              </tr>
          </table>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js"
          integrity="sha256-2VBPy2n7sERBn+tpZos/5j8jVBCE5uzGkceIwP9aAP0="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      var donorList = new List('donor-list', {
        valueNames: ['donor-name', 'amount'],
      });
    });
  </script>
{% endblock javascript %}
