{% extends "base.html" %}
{% load static i18n %}
{% block title %}Legislator List{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{% endblock css %}

{% block content %}

  <h2>{{ title|default:"Legislators" }}</h2>

  <div id="legislator-list">
    <input class="search form-control" placeholder="Search by name or district" />
    <ul class="list-group list list-unstyled">
      {% for person in legislators %}
        <li>
          <a href="{% url "legislators:legislator-detail" person.id %}">
            <div class="list-group-item list-group-item-action d-flex">
              <div>
                {% if person.photo_url %}
                  <img src="{{ person.photo_url }}" alt="photo of {{ person }}"
                                                    class="rounded-circle"/>
                {% else %}
                  <img src="http://via.placeholder.com/125x175/F52887/FFFFFF?text={{ person.initial }}"
                       class="rounded-circle">
                {% endif %}
              </div>
              <div class="col">
                <h5 class="legislator-name">{{ person }}</h5>
                <p class="text-muted">{{ person.chamber }}</p>
                <p class="text-muted district">District {{ person.district }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
<br>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js"
          integrity="sha256-2VBPy2n7sERBn+tpZos/5j8jVBCE5uzGkceIwP9aAP0="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      var legislatorList = new List('legislator-list', {
        valueNames: ['legislator-name', 'district'],
      });
    });
  </script>
{% endblock javascript %}
