# Required for Data
export OPENSTATES_API_KEY=<https://openstates.org/api/register/>

# TPJ development (external db)
export TPJ_DB_USER=
export TPJ_DB_PASSWORD=
export TPJ_DB_NAME=
export TPJ_DB_HOST=
export TPJ_DB_PORT=1433
export TPJ_DB_ENGINE=sql_server.pyodbc
# TPJ production (internal DB)
export TPJ_DB_URL=

# Google API
export GOOGLE_API_KEY=${GOOGLE_API_KEY}
export GOOGLE_ANALYTICS=${GOOGLE_ANALYTICS}

# PostgreSQL
export POSTGRES_PASSWORD=mysecretpass
export POSTGRES_USER=postgresuser
