# PostgreSQL
export POSTGRES_HOST=postgres
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=mysecretpassword
export POSTGRES_DB=influencetx
export DATABASE_URL=psql://postgres:mysecretpassword@postgres:5432/influencetx

# TPJ DB
export TPJ_DB_URL=psql://postgres:mysecretpassword@postgres:5432/influencetx

# Required for Data
export OPENSTATES_API_KEY=<https://openstates.org/api/register/>

# Google API
export GOOGLE_API_KEY=${GOOGLE_API_KEY}
export GOOGLE_ANALYTICS=${GOOGLE_ANALYTICS}
